.wrapper
  .Title
    説得費登録
  .Regular
    .Regular__table
      = form_with model: @persuation, local: true do |f|
        %table{border: "1"}
          %tr
            %th.table_style
              日付
            %th.table_style
              HNO
            %th.table_style.text-aline
              説得費
          %tr
            %td.table_style
              = f.date_field :dating, use_month_numbers:true,prompt:"--", class: ''
            %td.table_style
              = f.number_field :hno, min: 0,class:""
            %td.table_style
              = f.collection_check_boxes :contract_ids, @contracts, :id, :name
        = f.submit '登録', class: 'Regular__table__btn btn btn-success'
    .Regular__return
      = link_to "戻る","/regulars",class: 'btn btn-secondary'