.wrapper
  .Title
    説得費検索結果
  .Periodcenter
    .Periodcenter__content
      = "#{@year}年#{@month}月分"
  .Regular__show
    .Regular__show__table
      - if @persuations.present?
        %table{border: "1"}
          %tr
            %th.table_style
              日付
            %th.table_style
              HNO
            - @contracts.each do |contract|
              %th.table_style
                = contract.name
            %th.table_style
              削除ボタン
          - @persuations.each do |persuation|
            %tr
              %td.table_style
                = persuation.dating
              %td.table_style
                = persuation.hno
              - @contracts.each do |work|
                - if persuation.contracts.include?(work)
                  %th.table_style
                    = 1
                - else
                  %th.table_style
                    = 0
              %td.table_style
                %button.btn.btn-danger{type: "button",data: {toggle: "modal", target: "#staticBackdrop#{persuation.id}"}}
                  削除
                .modal.fade{id: "staticBackdrop#{persuation.id}", data: {backdrop: "static", keyboard: "false"}, tabindex: "-1",aria:{labelledby: "staticBackdropLabel", hidden: "true"}}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %h3.modal-title#staticBackdropLabel
                          確認
                        %button.close{type:"button", data:{dismiss: "modal"}, aria:{label: "Close"}}
                          %span{aria:{hidden: "true"}}
                            &times;
                      .modal-body
                        %h5
                          本当に削除しますか？
                      .modal-footer
                        %button.btn.btn-lg.btn-secondary.btn-default{type:'button', data:{dismiss:'modal'}}
                          戻る
                        = link_to "削除", "/persuations/#{persuation.id}", method: :delete, class:"btn btn-danger btn-lg"
      - else
        該当の月はありません
  .Regular__return
    = link_to "戻る","/regulars",class: 'btn-lg btn btn-secondary'
