.wrapper
  .SignupPage
    .SignupPage__image
      .SignupPage__image__box

        .SignupPage__image__box__contents
          新規アカウントの作成
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .SignupPage__image__box__contents__user
              .SignupPage__image__box__contents__user__text
                = f.label :name
              .SignupPage__image__box__contents__user__input
                = f.text_field :name, autofocus: true, class:'input-signup'
            .SignupPage__image__box__contents__user
              .SignupPage__image__box__contents__user__text
                = f.label :email
              .SignupPage__image__box__contents__user__input
                = f.email_field :email, class:'input-signup'
            .SignupPage__image__box__contents__user
              .SignupPage__image__box__contents__user__text
                = f.label :password
                %i (英数字8文字以上)
              .SignupPage__image__box__contents__user__input
                = f.password_field :password, autocomplete: "off", class:'input-signup'
            .SignupPage__image__box__contents__user
              .SignupPage__image__box__contents__user__text
                = f.label :password_confirmation
              .SignupPage__image__box__contents__user__input
                = f.password_field :password_confirmation, autocomplete: "off", class:'input-signup'
            .SignupPage__image__box__contents__submit
              = f.submit "登録", class: 'submit submit-create'
            
        .SignupPage__image__box__bottom
          = link_to 'ログインはこちら', "/users/sign_in", class: "submit submit-login"
