.wrapper
  .Title
    調査費登録
  .Regular
    - if @regular.errors.any?
      .Regular__errors
        .Regular__errors__content
          %h2= "#{@regular.errors.full_messages.count}件のエラーが発生しました。"
          %ul
            - @regular.errors.full_messages.each do |message|
              %li= message
    .Regular__table
      = form_with model: @regular, local: true do |f|
        .Regular__table__content
          .Regular__table__content__tb
            %table{border: "1"}
              %tr
                %th.table_style
                  日付
                %th.table_style
                  HNO
                %th.table_style.text-aline
                  定期巡回費
              %tr
                %td.table_style
                  = f.date_field :dating, use_month_numbers:true,prompt:"--", class: ''
                %td.table_style
                  = f.number_field :hno, min: 0,class:""
                %td.table_style.check_box
                  = f.collection_check_boxes :contract_ids, @contracts, :id, :name
        .Regular__table__btn
          .Regular__table__btn__content
          = f.submit '登録', class: 'btn-sized btn btn-success'
    .Regular__return
      .Regular__return__btn
        = link_to "戻る","/regulars",class: 'btn-sized btn btn-secondary'
