.wrapper
  .Title
    検索結果
  .Periodcenter
    .Periodcenter__content
      = "#{@year}年#{@month}月分"
  .Regular__show
    .Regular__show__table
      - if @regulars.present?
        %table{border: "1"}
          %tr
            %th.table_style
              日付
            %th.table_style
              HNO
            - @contracts.each do |contract|
              %th.table_style
                = contract.name
            %th.table_style
              削除ボタン
          - @regulars.each do |regular|
            %tr
              %td.table_style
                = regular.dating
              %td.table_style
                = regular.hno
              - @contracts.each do |work|
                - if regular.contracts.include?(work)
                  %th.table_style
                    = 1
                - else
                  %th.table_style
                    = 0
              %td.table_style
                = link_to '削除', "/regulars/#{regular.id}", method: :delete, class:"btn btn-danger"
      - else
        該当の月はありません
  .Regular__return
    = link_to "戻る","/regulars",class: 'btn-sized btn btn-secondary'
