.wrapper
  .Title
    調査費確認
  .Regular__form
    .Regular__form__content
      = form_with url: search_regulars_path, local: true, method: :get, class: "" do |f|

        = f.date_select :dating, {discard_day:true,use_month_numbers:true, date_separator:'年'}, class: 'table_style2'
        = "月"
        = f.submit "検索", class: "btn btn-lg btn-info"
  .Regular__return
    = link_to "戻る","/regulars",class: 'btn-lg btn btn-secondary'
