.wrapper
  .Title
    契約管理画面
  .Regular__show
    .Regular__show__table
      %table{border: "1"}
        %tr
          %th.table_style
            契約名
          %th.table_style
            単価
          %th.table_style
            種類
          %th.table_style
            登録可能
          %th.table_style
            可否変更
          %th.table_style
            削除ボタン
        - @contracts.each do |contract|
          %tr
            %td.table_style
              = contract.name
            %td.table_style
              = contract.money
            %td.table_style
              - if contract.kind == 1
                定期巡回費
              - else 
                説得費
            %td.table_style
              - if contract.active?
                .Green_font
                  登録可
              - else
                .Red_font
                  登録不可
            %td.table_style
              - if contract.active?
                = form_with model: contract, local: true do |f|
                  = f.hidden_field :active, value: false
                  = f.submit '不可', class:"btn btn-warning"
              - else
                = form_with model: contract, local: true do |f|
                  = f.hidden_field :active, value: true
                  = f.submit '可能', class:"btn btn-warning"
            %td.table_style
              = link_to '削除', "/contracts/#{contract.id}", method: :delete, class:"btn btn-danger"
  .Regular__return
    = link_to "管理画面へ戻る","/contracts",class: 'btn-lg btn btn-secondary'
