.wrapper
  .Title
    内訳書
  .Period
    = "#{@name}さん"
    = "#{@year}年#{@month}月分"
  = render partial: "results", locals: { }
  .Undercontents
    .Undercontents__button
      = link_to "確認画面へ戻る","/breakdowns/:id", class: 'btn btn-lg btn-secondary Breakdownbottom__btn'
    .Undercontents__settlement
      %table{border: "1"}
        %tr
          %th.table_style
            担当者
          %th.table_style
            課長
          %th.table_style
            部長
        %tr
          %td.table_style.table_settlement
            - if @closing.empty?
              未申請
            - elsif @settlement4.present?
              .hanko
                担当
            - elsif current_user.id == 4
              = form_with url: settlements_path, local: true, method: :post do |f|
                = f.hidden_field :dating, value: "#{@year}-#{@month}-01"
                = f.hidden_field :user_id, value: @userid
                = f.hidden_field :settler, value: current_user.id
                = f.submit '決済', class: 'btn-lg btn btn-outline-danger'
            - else
          %td.table_style.table_settlement
            - if @closing.empty?
              未申請
            - if @settlement3.present?
              .hanko
                課長
            - elsif current_user.id == 3
              = form_with url: settlements_path, local: true, method: :post do |f|
                = f.hidden_field :dating, value: "#{@year}-#{@month}-01"
                = f.hidden_field :user_id, value: @userid
                = f.hidden_field :settler, value: current_user.id
                = f.submit '決済', class: 'btn-lg btn btn-outline-danger'
            - else

          %td.table_style.table_settlement
            - if @closing.empty?
              未申請
            - if @settlement2.present?
              .hanko
                部長
            - elsif current_user.id == 2
              = form_with url: settlements_path, local: true, method: :post do |f|
                = f.hidden_field :dating, value: "#{@year}-#{@month}-01"
                = f.hidden_field :user_id, value: @userid
                = f.hidden_field :settler, value: current_user.id
                = f.submit '決済', class: 'btn-lg btn btn-outline-danger'
            - else
