.wrapper
  .Title
    内訳書
  .Period
    = "#{@regulars[0].user.name}さん"
    = "#{@regulars[0].dating.year}年#{@regulars[0].dating.month}月分"
  = render partial: "results", locals: { }
  = link_to "確認画面へ戻る","/breakdowns/:id", class: 'btn btn-secondary Breakdownbottom__btn'