.wrapper
  .Title
    内訳書
  .Period
    = "#{@name}さん"
    = "#{@year}年#{@month}月分"
  = render partial: "results", locals: { }
  = link_to "確認画面へ戻る","/breakdowns/:id", class: 'btn btn-secondary Breakdownbottom__btn'