.wrapper
  .Title
    内訳書
  .Period
    = "#{@regulars[0].dating.year}年#{@regulars[0].dating.month}月分"
  = render partial: "results", locals: { }
= link_to "戻る","/breakdowns", class: 'btn btn-secondary Breakdownbottom__btn'