.wrapper
  .Title
    諸経費検索結果
  .Periodcenter
    .Periodcenter__content
      = "#{@name}さん"
      = "#{@year}年#{@month}月分"
  .Regular__show
    .Regular__show__table
      - if @costs.present?
        %table{border: "1"}
          %tr
            %th.table_style
              日付
            %th.table_style
              HNO
            %th.table_style
              通行費･駐車料
            %th.table_style
              通信費･消耗品費
            %th.table_style
              内訳詳細
            %th.table_style
              削除ボタン
          - @costs.each do |cost|
            %tr
              %td.table_style
                = cost.dating
              %td.table_style
                = cost.hno
              %td.table_style
                = cost.parking
              %td.table_style
                = cost.fee
              %td.table_style
                = cost.content
              %td.table_style
                = link_to '削除', "/costs/#{cost.id}", method: :delete, class:"btn btn-danger"
      - else
        該当の月はありません
  .Regular__return
    = link_to "戻る","/breakdowns/:id",class: 'btn-sized btn btn-secondary'