.wrapper
  .Title
    諸経費登録
  .Regular
    - if @cost.errors.any?
      .Regular__errors
        .Regular__errors__content
          %h2= "#{@cost.errors.full_messages.count}件のエラーが発生しました。"
          %ul
            - @cost.errors.full_messages.each do |message|
              %li= message
    .Regular__table
      = form_with model: @cost, local: true do |f|
        .Regular__table__content
          .Regular__table__content__tb
            %table{border: "1"}
              %tr
                %th.table_style
                  日付
                %th.table_style
                  HNO
                %th.table_style
                  通行費･駐車料
                %th.table_style
                  通信費･消耗品費
                %th.table_style
                  内訳詳細
              %tr
                %td.table_style
                  = f.date_field :dating, use_month_numbers:true,prompt:"--", class: ''
                %td.table_style
                  = f.number_field :hno, min: 0,class:""
                %td.table_style
                  = f.number_field :parking, min: 0, class:""
                %td.table_style
                  = f.number_field :fee, min: 0,step:"0.1",class:""
                %td.table_style
                  = f.text_field :content, class:""
        .Regular__table__btn
          .Regular__table__btn__content
            = f.submit '登録', class: 'btn-sized btn btn-success'
    .Regular__return
      = link_to "戻る","/regulars",class: 'btn-sized btn btn-secondary'