.wrapper
  .Title
    諸経費検索結果
  .Periodcenter
    .Periodcenter__content
      = "#{@year}年#{@month}月分"
  .Regular__show
    .Regular__show__table
      - if @costs.present?
        %table{border: "1"}
          %tr
            %th.table_style
              日付
            %th.table_style
              HNO
            %th.table_style
              通行費･駐車料
            %th.table_style
              通信費･消耗品費
            %th.table_style
              内訳詳細
            %th.table_style
              画像確認
            %th.table_style
              削除ボタン
          - @costs.each do |cost|
            %tr
              %td.table_style
                = cost.dating
              %td.table_style
                = cost.hno
              %td.table_style
                = cost.parking
              %td.table_style
                = cost.fee
              %td.table_style
                = cost.content
              %td.table_style
                - if cost.images.present?
                  %button.btn.btn-secondary{type: "button",data: {toggle: "modal", target: "#staticBackdrop#{cost.id}image"}}
                    確認
                  .modal.fade{id: "staticBackdrop#{cost.id}image", data: {backdrop: "static", keyboard: "false"}, tabindex: "-1",aria:{labelledby: "staticBackdropLabel", hidden: "true"}}
                    .modal-dialog
                      .modal-content.modal-image-content
                        .modal-header
                          %h3.modal-title#staticBackdropLabel.modal-image-title
                            諸経費画像
                          %button.close{type:"button", data:{dismiss: "modal"}, aria:{label: "Close"}}
                            %span{aria:{hidden: "true"}}
                              &times;
                        .modal-body
                          .modal-previews
                            - cost.images.each_with_index do |image, i|
                              .preview
                                .img_box{data: {index: i }}
                                  = image_tag "#{image.src.url}", data: { index: i }, class: "preview_image_modal"
                    
                        .modal-footer
                          %button.btn.btn-lg.btn-secondary.btn-default{type:'button', data:{dismiss:'modal'}}
                            戻る
              %td.table_style
                %button.btn.btn-danger{type: "button",data: {toggle: "modal", target: "#staticBackdrop#{cost.id}"}}
                  削除
                .modal.fade{id: "staticBackdrop#{cost.id}", data: {backdrop: "static", keyboard: "false"}, tabindex: "-1",aria:{labelledby: "staticBackdropLabel", hidden: "true"}}
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %h3.modal-title#staticBackdropLabel
                          確認
                        %button.close{type:"button", data:{dismiss: "modal"}, aria:{label: "Close"}}
                          %span{aria:{hidden: "true"}}
                            &times;
                      .modal-body
                        %h5
                          本当に削除しますか？
                      .modal-footer
                        %button.btn.btn-lg.btn-secondary.btn-default{type:'button', data:{dismiss:'modal'}}
                          戻る
                        = link_to "削除", "/costs/#{cost.id}", method: :delete, class:"btn btn-danger btn-lg"
                        
      - else
        該当の月はありません
  .Regular__return
    = link_to "戻る","/regulars",class: 'btn-lg btn btn-secondary'