.wrapper
  .SigninPage
    .SigninPage__image
      .SigninPage__image__contents
        .SigninPage__image__contents__line
          .SigninPage__image__contents__line__title
            .SigninPage__image__contents__line__title__line1
              %nobr Invoice Board System
            .SigninPage__image__contents__line__title__line2
              %nobr 請求書精算管理ツール
            .SigninPage__image__contents__line__title__line3
              .SigninPage__image__contents__line__title__line3__icon
                %svg{xmlns:"http://www.w3.org/2000/svg", width:"30", height:"30", fill:"currentColor", class:"bi bi-arrow-right-circle", viewBox:"0 0 16 16"}
                  %path{fill:{rule:"evenodd"}, d:"M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"}
              .SigninPage__image__contents__line__title__line3__text
                %nobr ログイン
          .SigninPage__image__contents__line__right.display-none
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .SigninPage__image__contents__line__right__email
                .SigninPage__image__contents__line__right__email__text
                  = f.label :email
                .SigninPage__image__contents__line__right__email__input
                  = f.email_field :email, autofocus: true, class:'input-login'
              .SigninPage__image__contents__line__right__password
                .SigninPage__image__contents__line__right__password__text
                  = f.label :password
                .SigninPage__image__contents__line__right__password__input
                  = f.password_field :password, autocomplete: "off" , class:'input-login'
              .SigninPage__image__contents__line__right__login
                = f.submit "ログイン", class: 'submit submit-login'
            .SigninPage__image__contents__line__right__bottom
              = link_to '登録はこちら', "/users/sign_up", class: "submit submit-registration"
    .SigninPage__mask